<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mice detection</title>
    <style>
        hr { margin: 60px 0;}
    </style>
</head>
<body id="app">
    <!-- Sample images -->
    <div style="display: none;">
        <template v-for="i in images[mode]['up'][1]">
            <img v-if="i >= images[mode]['up'][0]" :src="imgPath('up', i)" class="up" />
        </template>
        <template v-for="i in images[mode]['mid'][1]">
            <img v-if="i >= images[mode]['mid'][0]" :src="imgPath('mid', i)" class="mid" />
        </template>
        <template v-for="i in images[mode]['down'][1]">
            <img v-if="i >= images[mode]['down'][0]" :src="imgPath('down', i)" class="down" />
        </template>
    </div>

    <h1>Mice detection</h1>
    <div>
        目前模式: {{ currentMode }} 模式選擇: 
        <a href="?mode=left">左箱子</a> &nbsp;&nbsp; 
        <a href="?mode=center">中箱子</a> &nbsp;&nbsp; 
        <a href="?mode=right">右箱子</a>
    </div>
    <h2>1. 選擇一個影片並選擇拉選至籠子清晰可見的時間</h2>
    <input type="file" name="video" id="videoInput">
    <video id="previewVideo" controls width="720"></video>
    <hr>

    <h2>2. 標記出籠子的範圍（使用矩形）</h2>
    x:
    <input type="number" value="257" id="x">
    y:
    <input type="number" value="7" id="y">
    Width:
    <input type="number" value="440" id="width">
    Height:
    <input type="number" value="1060" id="height">
    Lock:
    <input type="checkbox" id="lock">
    <br /><br />
    <canvas id="canvas"></canvas>
    <hr>

    <h2>3. 開始統計</h2>
    <video id="statVideo" controls width="720"></video>
    <canvas id="statCanvas" style="display: none;"></canvas>
    <br>
    
    <div style="display: flex; font-size: 32px;">
        <div style="flex: 1">
            <h3>統計資料</h3>
            <button id="startStat" type="button">開始統計</button>
            <button id="pauseStat" type="button" disabled>暫停統計</button>
            <button id="resetStat" type="button">重設統計</button>

            <div>
                上: <span id="up-seconds">0.0</span> 秒
            </div>
            <div>
                中: <span id="mid-seconds">0.0</span> 秒
            </div>
            <div>
                下: <span id="down-seconds">0.0</span> 秒
            </div>
        </div>
        <div style="flex: 1">
            <h3>選擇範圍內的影像</h3>
            <canvas id="scopeCanvas"></canvas>
        </div>
    </div>
    <hr>

    <script src="https://unpkg.com/vue@3"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    mode: 'left',
                    images: {
                        right:{
                            up: [16, 40],
                            mid: [16, 33],
                            down: [15, 38]
                        },
                        center:{
                            up: [13, 15],
                            mid: [12, 15],
                            down: [11, 14]
                        },
                        left:{
                            up: [1, 12],
                            mid: [1, 11],
                            down: [1, 11]
                        }
                    }
                }
            },
            created() {
                const url = new URL(window.location.href);
                const mode = url.searchParams.get("mode") ?? 'left';
                this.mode = mode;
            },
            computed: {
                currentMode(){
                    if(this.mode === 'left') return '左箱子';
                    if(this.mode === 'center') return '中箱子';
                    if(this.mode === 'right') return '右箱子';
                }
            },
            methods:{
                imgPath(position, number){
                    return `./images/${this.mode}/${position}/${position}_${number}.png`
                }
            }
        }).mount('#app')
    </script>
    <script src="bundle.js"></script>
</body>
</html>